@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #A60AEF;
    --cor-terciaria: #F5AF22;
    --cor-quartenaria: #141313;
    --cor-quintenaria: white;
    --cor-hover-1: #C261F0;
    --cor-hover-2: #F8C155;
    --fonte-primaria: 'Flamenco', cursive;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#ethernia-logo-ruptura {
    height: 50px;
    width: 30px;
    border-radius: 0px;
    padding: 0 0 0 15%;
    align-self: center;
}

.cabecalho__menu__primeiro {
    display: flex;
    gap: 10px;
}

#ethernia-wiki {
    color: var(--cor-secundaria);
}
#Personagens {
    color: var(--cor-secundaria);
}
#Dados {
    color: var(--cor-secundaria);
}
#Mundo {
    color: var(--cor-secundaria);
}

.texto-marcado{
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0;
    background-color: var(--cor-quartenaria);
    position: static;
}

.cabecalho__menu {
    display: flex;
    gap: 70px;
    justify-content: space-evenly;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    align-self: center;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover-1);
}
/* começam aqui as diferenças */

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-quintenaria);
  background-image: url(../assets/ethernia.fundo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100%
}

.fundo {   
    text-decoration: none;
}

.caixa__retangulo {
    position:relative;
    width: 1000px;
    height: 2000px;
    left: 51%;
    transform: translate(-51%);
    background-color: var(--cor-quartenaria);
    z-index: -1;
    font-family: var(--fonte-secundaria);
    color: var(--cor-quintenaria);
    
  }
  .caixa__retangulo__conteudo{
    padding: 2% 0 0 5%; 
  }
  
  .caixa__conteudo__titulo{
    font-size: 3rem;
    margin: 5% 0 3% 0;
  }
  
  .caixa__conteudo__indice{
    margin: 5% 0 3% 0;
    width: 200px;
    border: solid 3px;
    display: flex;
    flex-direction: column;
 
  }
  .indice__titulo{
    border: solid;
    border-top: 3px;
    border-left: 0px;
    border-right: 2px;
    width: 200px;
  }
  .indice_conteudo{
    padding: 3%;
  }
  .caixa__retangulo p1 {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    justify-content:initial;
  }
  .personagem-imagem{
    margin: 2% 3.1% 5%  3.1%;
    width: 230px;
    border: solid 5px var(--cor-secundaria);
    display: inline;
  }
  
  #Nero{
    display: inline; 
    text-align: center; 
  }

  #Amber{
    display: inline;
  }
  #Mitou{
    display: inline;
  }
  #Xino{
    display: inline;
  }

.rodape__personagens {
  background-color: var(--cor-quartenaria);
  color: var(--cor-terciaria);
  text-align: center;
  padding: 40px;
  font-family: var(--fonte-secundaria);
  position:static;
  bottom: 0;
  left: 0;
  right: 0;
}